$PrimaryColor: #2196f3;
$DarkPrimaryColor: rgb(29, 128, 209);
$SecondaryColor: #607d8b;
$TextColor: #333333;
$AccentColor: #ffc107;
$HoverColor: #f5f5f5;

.container {
  width: calc(100% - 260px);
  height: 75vh;
  color: $TextColor;

  .createNewList {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .settings {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-top: 5px;
    margin-right: 15px;

    .modalSettings {
      position: absolute;
      top: 26px;
      right: 26px;
      width: 240px;
      height: 215px;
      border: 1px solid $SecondaryColor;
      border-radius: 3px;

      .chooseContainer {
        border-bottom: 1px solid $SecondaryColor;
        width: 100%;
        height: 42px;
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;

        cursor: grab;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .choose {
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          display: flex;
          align-items: center;

          .selectSVG {
            width: 30px;
            height: 100%;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;
          }
        }
      }
    }

    .settingsBtn {
      stroke: #333333;
      stroke-width: 20;

      &:hover {
        stroke: #333333;
        stroke-width: 24;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
  .content {
    overflow: auto;
    width: calc(100% - 100px);
    border: 1px solid $SecondaryColor;
    border-radius: 10px;
    height: 100%;
    margin: 5px 20px 0 50px;
    display: flex;
    flex-direction: column;
    background-color: white;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #f9f9fd;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #dddddd;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #f9f9fd;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      border: 1px solid $HoverColor;
      transition: 0.1s ease-in-out;

      &:hover {
        background-color: $HoverColor;
      }

      &:first-of-type {
        font-size: 18px;
        font-weight: 600;
        .tab {
          text-transform: uppercase;
          .filter {
            fill: $AccentColor;
            stroke: $HoverColor;
            &:hover {
              fill: $AccentColor;
              stroke: $AccentColor;
              cursor: pointer;
            }
          }
        }
      }

      .tabEdit {
        width: 70px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        border-radius: 4px;

        .valueEdit {
          text-transform: uppercase;
          margin-left: 10px;
          .editBtn {
            stroke: $AccentColor;
            fill: $HoverColor;
            &:hover {
              fill: $AccentColor;
              stroke: $AccentColor;
              cursor: pointer;
            }
          }
        }
      }

      .tab {
        min-width: 150px;
        width: 270px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;
        border-radius: 4px;

        .value {
          margin-left: 10px;
        }
      }
    }
  }
  .pagination {
    margin-top: 25px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-weight: 500;
    .count {
      margin-left: 20px;
      margin-right: 20px;
    }

    button {
      width: 70px;
      height: 30px;
      border-radius: 5px;
      border: 0px;
      color: whitesmoke;
      font-weight: 600;
      background-color: $PrimaryColor;

      &:hover {
        background-color: $DarkPrimaryColor;
        cursor: pointer;
      }
    }
  }
}
