$color1: #122c34;
$color2: #0b4f6c;
$color3: #2978aa;
$color4: #006476;
$color5: #4ea5d9;
$color6: #09d0cc;
$color7: #6a9b9b;
$background1: white;

.container {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid $color2;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 100%;
    }
    .lists {
      padding-left: 10px;
      width: calc(100% - 200px);
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        max-width: 170px;
        height: 25px;
        transition: 0.1s ease-in-out;
        padding: 5px;
        margin-right: 5px;

        &:hover {
          transition: 0.1s ease-in-out;
          cursor: pointer;
          border-radius: 5px;
          background-color: rgb(243, 242, 242);
        }
        &:active {
          background-color: rgb(206, 206, 206);
        }
      }

      .activeList {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        white-space: nowrap;
        height: 25px;
        transition: 0.3s ease-in-out;
        padding: 5px;
        margin-right: 5px;
        background-color: rgb(250, 250, 250);
        border-bottom: 2px solid $color1;
        border-radius: 5px;

        &:hover {
          cursor: pointer;
        }

        .closeSVG {
          margin-left: 5px;
          margin-top: 4px;

          &:hover {
            background-color: rgb(206, 206, 206);
            border-radius: 10px;
          }
        }
      }
    }
  }
}
