.container {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid black;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 260px;
      height: 100%;
    }
    .lists {
      overflow-x: auto;
      width: calc(100% - 260px);
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      .tabContainer {
        display: flex;
        justify-content: row;
        align-items: center;
        margin-right: 5px;

        .closeSVG {
          height: 35px;
          border-top-right-radius: 10px;
          background-color: rgba(209, 209, 255, 0.315);
          margin-right: 5px;
          transition: 0.15s ease-in-out;
          &:hover {
            cursor: pointer;
            background-color: rgba(209, 209, 255, 0.575);
          }
          &:active {
            background-color: grey;
          }
        }

        .list {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
          max-width: 200px;
          height: 25px;
          padding: 5px;
          border-bottom-left-radius: 10px;

          &:hover {
            cursor: pointer;
            background-color: rgba(209, 209, 255, 0.315)
          }
          &:active {
            background-color: rgba(209, 209, 255, 0.596)
          }
        }

        .activeList {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          max-width: 200px;
          white-space: nowrap;
          height: 25px;
          transition: 0.1s ease-in-out;
          padding: 5px;
          background-color: rgba(209, 209, 255, 0.315);
          border-bottom-left-radius: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
        height: 10px;
        background-color: #f9f9fd;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #b6b6b6;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #dadadb;
      }
    }
  }
}
